Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

fix(transactions): avoid failed state after scheduled transfer finalization errors
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @team-leads

fix(transactions): recover stranded scheduled transfer runs
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @team-leads

fix(transactions): recover only completed scheduled transfers
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @team-leads

feat(transactions): expose scheduled transfer api
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/ScheduledTransferController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/ScheduledTransferControllerTest.java
Owners: @team-leads

fix(transactions): stabilize scheduled transfer api responses
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/ScheduledTransferController.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/ScheduledTransferControllerTest.java
Owners: @team-leads

feat(frontend): add scheduled transfers page
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/schemas.test.ts
  frontend/src/lib/schemas.ts
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
Owners: @team-leads

fix(frontend): align scheduled transfer notifications
  frontend/src/lib/api.test.ts
  frontend/src/types.ts
Owners: @team-leads

fix(frontend): normalize scheduled transfer create payloads
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
Owners: @team-leads

docs: document scheduled transfers
  README.md
Owners: @tech-writers, @team-leads

[codex] Add scheduled and recurring transfers (#25)
  README.md
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationSourceType.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationType.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceTest.java
  docs/superpowers/plans/2026-06-30-scheduled-recurring-transfers.md
  docs/superpowers/specs/2026-06-30-scheduled-recurring-transfers-design.md
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/schemas.test.ts
  frontend/src/lib/schemas.ts
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/ScheduledTransferController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/ScheduledTransferCreateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/ScheduledTransferResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/ScheduledTransferRunResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransfer.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferFrequency.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferRun.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferRunStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferType.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferScheduler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/main/resources/db/migration/V19__create_scheduled_transfers.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/ScheduledTransferControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferRecurrenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @tech-writers, @team-leads, @backend-team

Add beneficiary management MVP
  account-service/src/main/java/com/suhasan/finance/account_service/controller/BeneficiaryController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/BeneficiaryCreateRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/BeneficiaryResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/BeneficiaryUpdateRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/Beneficiary.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/BeneficiaryStatus.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/BeneficiaryRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/BeneficiaryService.java
  account-service/src/main/resources/db/migration/V7__create_beneficiaries.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/BeneficiaryControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/migration/BeneficiaryMigrationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/BeneficiaryServiceTest.java
  docs/superpowers/plans/2026-07-02-beneficiary-management.md
  docs/superpowers/specs/2026-07-02-beneficiary-management-design.md
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/schemas.test.ts
  frontend/src/lib/schemas.ts
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
Owners: @backend-team, @team-leads, @tech-writers

Add beneficiary management MVP (#26)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/BeneficiaryController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/BeneficiaryCreateRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/BeneficiaryResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/BeneficiaryUpdateRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/Beneficiary.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/BeneficiaryStatus.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/BeneficiaryRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/BeneficiaryService.java
  account-service/src/main/resources/db/migration/V7__create_beneficiaries.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/BeneficiaryControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/migration/BeneficiaryMigrationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/BeneficiaryServiceTest.java
  docs/superpowers/plans/2026-07-02-beneficiary-management.md
  docs/superpowers/specs/2026-07-02-beneficiary-management-design.md
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/schemas.test.ts
  frontend/src/lib/schemas.ts
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
Owners: @backend-team, @team-leads, @tech-writers

Fix scheduled transfer recipient destination field
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
Owners: @team-leads

Document risk-based step-up authorization
  README.md
Owners: @tech-writers, @team-leads

Add customer spending controls
  README.md
  account-service/src/main/java/com/suhasan/finance/account_service/controller/InternalAccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/SecurityController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/SpendingLimitDtos.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/AccountSpendingLimit.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitAuditEvent.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/AccountSpendingLimitRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/SpendingLimitAuditEventRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/SpendingLimitReservationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
  account-service/src/main/resources/db/migration/V9__create_spending_limits.sql
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceTest.java
  docs/customer-spending-controls.md
  frontend/src/App.tsx
  frontend/src/lib/queries.ts
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  frontend/tests/e2e/customer.spec.ts
  frontend/vite.config.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/TransactionLedgerIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/IdempotencyAndReversalTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Owners: @tech-writers, @team-leads, @backend-team

Redesign admin operations console
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/AdminOperationsDashboard.tsx
  frontend/src/components/ui.tsx
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/AdminAuditLogPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/AdminMonitoringPage.tsx
  frontend/src/pages/AdminOverviewPage.tsx
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/pages/AdminRiskAlertsPage.tsx
  frontend/src/pages/AdminRiskCasesPage.tsx
  frontend/src/pages/AdminTransactionsPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
  frontend/tailwind.config.js
Owners: @team-leads

Redesign customer financial console
  frontend/src/components/CustomerLayout.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
Owners: @team-leads

Fix cross-console statement integration
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/e2e/customer.spec.ts
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
Owners: @team-leads

test: expand coverage and restore integration suites
  account-service/src/main/java/com/suhasan/finance/account_service/service/AuthService.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/JwtTokenProviderTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AuthServiceTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/MfaServiceTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientOperationsTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/MonitoringControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/e2e/FullSystemIntegrationE2ETest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/AccountServiceStubs.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/AlertingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationServiceTest.java
  transaction-service/src/test/resources/full-system-init.sql
Owners: @backend-team, @team-leads

Expand backend coverage and restore Docker integration tests (#33)
  account-service/src/main/java/com/suhasan/finance/account_service/service/AuthService.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/JwtTokenProviderTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AuthServiceTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/MfaServiceTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientOperationsTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/MonitoringControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/e2e/FullSystemIntegrationE2ETest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/AccountServiceStubs.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/AlertingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationServiceTest.java
  transaction-service/src/test/resources/full-system-init.sql
Owners: @backend-team, @team-leads

feat(frontend): redesign authentication experience
  README.md
  frontend/README.md
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
Owners: @tech-writers, @team-leads

Improve recipient and money flow feedback
  README.md
  frontend/src/components/ui.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/test/app.component.test.tsx
Owners: @tech-writers, @team-leads

Improve recipient and money flow feedback (#35)
  README.md
  frontend/src/components/ui.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/test/app.component.test.tsx
Owners: @tech-writers, @team-leads

Fix operations reconciliation correctness
  README.md
  docs/superpowers/specs/2026-06-24-double-entry-ledger-design.md
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/test/app.component.test.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerBalanceProjection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationCheckResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationCheckStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationCheckResultRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationExceptionResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationRunResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionDisputeService.java
  transaction-service/src/main/resources/db/migration/V21__repair_reconciliation_evidence.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/MonitoringControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionDisputeServiceTest.java
Owners: @tech-writers, @team-leads

feat: add outcome protection money debugger
  README.md
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationSourceType.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationType.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceTest.java
  docs/superpowers/specs/2026-07-15-outcome-protection-money-debugger-design.md
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/queries.ts
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/README.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeDomainEvent.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeGuardrailDraft.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenario.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenarioVersion.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeSimulationResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeDomainEventRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailDraftRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioVersionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeSimulationResultRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/main/resources/db/migration/V22__create_outcome_protection.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngineTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionControllerTest.java
Owners: @tech-writers, @team-leads, @backend-team, @devops-team

feat: add Outcome Protection Money Debugger (#37)
  README.md
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationSourceType.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationType.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceTest.java
  docs/superpowers/specs/2026-07-15-outcome-protection-money-debugger-design.md
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/queries.ts
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/README.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeDomainEvent.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeGuardrailDraft.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenario.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenarioVersion.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeSimulationResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeDomainEventRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailDraftRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioVersionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeSimulationResultRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/main/resources/db/migration/V22__create_outcome_protection.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngineTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionControllerTest.java
Owners: @tech-writers, @team-leads, @backend-team, @devops-team

Add consent-driven Balance Shield guardrails
  README.md
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationType.java
  docker-compose.codex.yml
  docs/operations/balance-shield-guardrail-runbook.md
  docs/superpowers/specs/2026-07-16-balance-shield-consent-guardrails.md
  frontend/src/components/AdminGuardrailControlPanel.tsx
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/queries.ts
  frontend/src/pages/AdminMonitoringPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/types.ts
  infrastructure/helm/transaction-service/values.yaml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeGuardrailControlEvent.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeGuardrailExecution.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeGuardrailPolicy.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeGuardrailRuntimeControl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeDomainEventRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailControlEventRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailDraftRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailExecutionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailPolicyRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailRuntimeControlRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailControlService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeNotificationDeliveryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/AdminOutcomeGuardrailController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/main/resources/db/migration/V25__create_consent_guardrails.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/web/AdminOutcomeGuardrailControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionControllerTest.java
Owners: @tech-writers, @team-leads, @backend-team, @devops-team

Add provider activation control plane
  docker-compose.provider-activation.yml
  docs/operations/production-provider-activation-runbook.md
  frontend/public/provider-activation.html
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/FailClosedProviderWebhookVerifier.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderActivationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderActivationIdempotencyReplayAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderActivationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderWebhookController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderWebhookReplayService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderWebhookSecurityConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderWebhookVerifier.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/ProviderWebhookVerifierConfiguration.java
  transaction-service/src/main/resources/db/migration/V27__provider_activation_control_plane.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/ProviderActivationIdempotencyReplayAspectTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/ProviderActivationServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/ProviderWebhookReplayServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/FreshPostgresProviderActivationMigrationTest.java
Owners: @devops-team, @team-leads, @tech-writers

Add outcome types and repair search V2
  README.md
  account-service/pom.xml
  docs/operations/outcome-types-repair-search-v2-demo.md
  docs/superpowers/specs/2026-07-17-outcome-types-repair-search-v2.md
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeGuardrailDraft.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenarioVersion.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeSimulationResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeGuardrailDraftRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecaster.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/main/resources/db/migration/V28__outcome_types_repair_search_v2.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeRepairDraftSelectionTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeRepairSearchV2Test.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionControllerTest.java
Owners: @tech-writers, @team-leads, @backend-team, @devops-team

Run synthetic TLS gateway as non-root
  infrastructure/synthetic-sandbox/gateway/Dockerfile
  infrastructure/synthetic-sandbox/gateway/entrypoint.sh
  infrastructure/synthetic-sandbox/gateway/nginx.conf
Owners: @devops-team, @team-leads

Align Helm CI with fail-closed charts
  .github/workflows/release-authority.yml
Owners: @devops-team, @team-leads

Use next Flyway migration version
  transaction-service/src/main/resources/db/migration/V31__transaction_request_fingerprints.sql
Owners: @team-leads

Fix sandbox E2E navigation for memory-only sessions
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Owners: @team-leads

Add temporary CI repair diagnostics
  .github/workflows/ci-repair-diagnostics.yml
Owners: @devops-team, @team-leads

Preserve admin portal intent during auth redirects
  frontend/src/components/RequireAuth.tsx
Owners: @team-leads

Add idempotency keys to legacy integration clients
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
Owners: @team-leads

Remove temporary CI repair diagnostics
  .github/workflows/ci-repair-diagnostics.yml
Owners: @devops-team, @team-leads

Add temporary diagnostics for transaction verification failures
  .github/workflows/ci-repair-diagnostics.yml
Owners: @devops-team, @team-leads

Add one-shot workflow for targeted transaction CI repair
  .github/workflows/apply-transaction-ci-repair.yml
Owners: @devops-team, @team-leads

Remove one-shot transaction CI repair workflow
  .github/workflows/apply-transaction-ci-repair.yml
Owners: @devops-team, @team-leads

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads
