Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads

Persist manual reconciliation despite remote lookup failure
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
Owners: @team-leads

Test durable manual reconciliation fallback
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
Owners: @team-leads

Avoid strict Mockito failures in reservation tests
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceTest.java
Owners: @backend-team, @team-leads

Include withdrawal currency in durable request claims
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimService.java
Owners: @team-leads

Claim full withdrawal payload before service processing
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/WithdrawalRequestIdempotencyClaimAspect.java
Owners: @team-leads

Reuse full withdrawal request claim in service saga
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspect.java
Owners: @team-leads

Test reuse of full withdrawal request claims
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspectTest.java
Owners: @team-leads

Test withdrawal currency in durable fingerprint
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimServiceTest.java
Owners: @team-leads

Test full withdrawal request claim ordering
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/WithdrawalRequestIdempotencyClaimAspectTest.java
Owners: @team-leads

Gate full withdrawal request claim coverage
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Validate reservation monetary precision
  account-service/src/main/java/com/suhasan/finance/account_service/dto/SpendingLimitDtos.java
Owners: @backend-team, @team-leads

Align transfer amount precision with persistence
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransferRequest.java
Owners: @team-leads

Align withdrawal amount precision with persistence
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/WithdrawalRequest.java
Owners: @team-leads

Persist remote reservation correlation
  transaction-service/src/main/resources/db/migration/V100__spending_reservation_saga_claims.sql
Owners: @team-leads

Store remote reservation correlation
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaim.java
Owners: @team-leads

Validate original reservation payload and fingerprint
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimService.java
Owners: @team-leads

Validate and honor original reservation lifecycle
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspect.java
Owners: @team-leads

Reconcile with the original reservation correlation
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
Owners: @team-leads

Test returned reservation fingerprint validation
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimServiceTest.java
Owners: @team-leads

Test active and closed reservation replay handling
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspectTest.java
Owners: @team-leads

Demonstrate concurrent different-payload reservation conflict
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Owners: @team-leads

Isolate concurrent conflict to amount only
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Owners: @team-leads

Publish successful pre-PR verification evidence
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Keep ambiguous legacy request scopes nullable
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
Owners: @backend-team, @team-leads

Test backwards-safe reservation migration
  account-service/src/test/java/com/suhasan/finance/account_service/migration/SpendingLimitReservationMigrationTest.java
Owners: @backend-team, @team-leads

Track the active spending reservation saga
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaContext.java
Owners: @team-leads

Persist ambiguous remote debit phases
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspect.java
Owners: @team-leads

Scope remote debit effects to the active reservation saga
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspect.java
Owners: @team-leads

Test scoped reservation saga context
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspectTest.java
Owners: @team-leads

Suppress release after ambiguous remote debit effects
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspect.java
Owners: @team-leads

Never release reservations with ambiguous remote effects
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
Owners: @team-leads

Test durable remote debit ambiguity markers
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspectTest.java
Owners: @team-leads

Test release suppression for durable remote ambiguity
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspectTest.java
Owners: @team-leads

Test reconciliation after ambiguous remote debit effects
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
Owners: @team-leads

Cover debit hold placement and release ambiguity
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspect.java
Owners: @team-leads

Test hold placement release and capture ambiguity
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspectTest.java
Owners: @team-leads

Preserve existing account owner identifier capacity
  account-service/src/main/resources/db/migration/V100__spending_limit_reservation_payload_safety.sql
Owners: @backend-team, @team-leads

Align reservation owner identifier capacity
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
Owners: @backend-team, @team-leads

Preserve existing user identifier capacity
  transaction-service/src/main/resources/db/migration/V100__spending_reservation_saga_claims.sql
Owners: @team-leads

Align durable claim user identifier capacity
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaim.java
Owners: @team-leads
