Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

fix(ops): restore drill compared a parsed timestamp against its text form
  scripts/restore-verify-synthetic-sandbox.ps1
Owners: @team-leads

fix(ops): restore drill compared a parsed timestamp against its text form (#91)
  scripts/restore-verify-synthetic-sandbox.ps1
Owners: @team-leads

fix(transfers): stop the connection pool deadlocking under transfer load
  docs/operations/observability.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/MoneyMovementBusyException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkhead.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkheadTest.java
Owners: @tech-writers, @team-leads, @backend-team, @devops-team

fix(transfers): stop the connection pool deadlocking under transfer load (#92)
  docs/operations/observability.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/MoneyMovementBusyException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkhead.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/MoneyMovementBulkheadTest.java
Owners: @tech-writers, @team-leads, @backend-team, @devops-team

feat(security): password change that signs the user out everywhere
  account-service/src/main/java/com/suhasan/finance/account_service/controller/SecurityController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/MfaRequests.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/PasswordChangeService.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/PasswordChangeServiceTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SecurityPage.password.test.tsx
  frontend/src/pages/SecurityPage.tsx
Owners: @backend-team, @team-leads, @tech-writers

feat(security): password change that signs the user out everywhere (#94)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/SecurityController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/MfaRequests.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/PasswordChangeService.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/PasswordChangeServiceTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SecurityPage.password.test.tsx
  frontend/src/pages/SecurityPage.tsx
Owners: @backend-team, @team-leads, @tech-writers

wip(types): derive frontend API types from the OpenAPI specs
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/NotificationSummaryResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/NotificationControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
Owners: @backend-team, @team-leads, @tech-writers

wip(types): derive frontend API types from the OpenAPI specs (#95)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/NotificationSummaryResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/NotificationControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  docs/api/account-service.openapi.json
  frontend/src/api/generated/account-service.ts
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
Owners: @backend-team, @team-leads, @tech-writers

fix(ops): audit account status changes, correct money validation and error shapes
  account-service/src/main/java/com/suhasan/finance/account_service/entity/AccountStatusAuditEvent.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/AccountStatusAuditEventRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/resources/db/migration/V104__create_account_status_audit_events.sql
  account-service/src/test/java/com/suhasan/finance/account_service/service/AccountStatusAuditTest.java
  docs/api/transaction-service.openapi.json
  frontend/package.json
  frontend/src/api/generated/transaction-service.ts
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DepositRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementGenerateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationRunRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/JvmMemoryGaugeAmbiguityTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @backend-team, @team-leads, @tech-writers

ci(api-contract): allow the intentional request-bound tightening
  .github/api-contract-severity.txt
  .github/workflows/release-authority.yml
Owners: @devops-team, @team-leads

fix(ops): audit account status changes, correct money validation and error shapes (#96)
  .github/api-contract-severity.txt
  .github/workflows/release-authority.yml
  account-service/src/main/java/com/suhasan/finance/account_service/entity/AccountStatusAuditEvent.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/AccountStatusAuditEventRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/resources/db/migration/V104__create_account_status_audit_events.sql
  account-service/src/test/java/com/suhasan/finance/account_service/service/AccountStatusAuditTest.java
  docs/api/transaction-service.openapi.json
  frontend/package.json
  frontend/src/api/generated/transaction-service.ts
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/DepositRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementGenerateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationRunRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/JvmMemoryGaugeAmbiguityTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

Suppress non-exploitable CVE-2026-47884 in container scans
  .github/workflows/release-authority.yml
  .trivyignore
Owners: @devops-team, @team-leads

Suppress non-exploitable CVE-2026-47884 in container scans (#98)
  .github/workflows/release-authority.yml
  .trivyignore
Owners: @devops-team, @team-leads

Rename Financial Console to Vaultiq across frontend
  frontend/README.md
  frontend/index.html
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
Owners: @tech-writers, @team-leads

Rename Financial Console to Vaultiq across frontend (#97)
  frontend/README.md
  frontend/index.html
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/styles.css
  frontend/src/test/app.component.test.tsx
Owners: @tech-writers, @team-leads

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads
