Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

fix(transaction-service): walkthrough findings in ops stats, worker lookups, and copy
  README.md
  docker-compose.codex.yml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/MonitoringControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngineTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsServiceTest.java
Owners: @tech-writers, @team-leads, @devops-team

fix(frontend): walkthrough findings in time display, Balance Shield, and ops UX
  frontend/src/components/AdminGuardrailControlPanel.tsx
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/pages/AdminAuditLogPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/pages/AdminRiskAlertsPage.tsx
  frontend/src/pages/AdminRiskCasesPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/pages/TransactionsPage.tsx
Owners: @team-leads

fix(account-service): answer non-numeric path ids with 400, not 500
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
Owners: @backend-team, @team-leads

build: bump jackson-bom to 2.21.6 for CVE-2026-68497
  account-service/pom.xml
  transaction-service/pom.xml
Owners: @backend-team, @team-leads

build: bump jackson-bom to 2.21.6 for CVE-2026-68497
  account-service/pom.xml
  transaction-service/pom.xml
Owners: @backend-team, @team-leads

fix(backend): live walkthrough findings — DB-backed daily stats, worker lookups, 400 on bad ids (#76)
  README.md
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  docker-compose.codex.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/MonitoringController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClientTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/MonitoringControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSimulationEngineTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/DailyTransactionStatsServiceTest.java
Owners: @tech-writers, @team-leads, @backend-team, @devops-team

fix(frontend): live walkthrough findings — local time zones, Balance Shield controls, ops UX (#77)
  frontend/src/components/AdminGuardrailControlPanel.tsx
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/format.test.ts
  frontend/src/lib/format.ts
  frontend/src/pages/AdminAuditLogPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminInvestigationsPage.tsx
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/pages/AdminRiskAlertsPage.tsx
  frontend/src/pages/AdminRiskCasesPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/NotificationsPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/pages/TransactionsPage.tsx
Owners: @team-leads

fix(transaction-service): stop caching account state (frozen accounts could still be debited)
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/AccountLookupNotCachedTest.java
Owners: @team-leads

fix(transaction-service): stop caching account state (frozen accounts could still be debited) (#78)
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/client/AccountLookupNotCachedTest.java
Owners: @team-leads

fix(transaction-service): make background jobs safe to run on several replicas
  docs/operations/background-job-replica-safety.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Owners: @tech-writers, @team-leads

fix(balance-shield): back off scenarios the monitor keeps failing on
  frontend/src/lib/outcomeMonitoring.test.ts
  frontend/src/lib/outcomeMonitoring.ts
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenario.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealth.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/resources/db/migration/V109__outcome_monitor_backoff.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealthTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeRepairDraftSelectionTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
Owners: @team-leads

build: bump jackson-bom to 2.21.7 for CVE-2026-91776 and CVE-2026-91777
  account-service/pom.xml
  transaction-service/pom.xml
Owners: @backend-team, @team-leads

fix(transaction-service): make background jobs safe to run on several replicas (#79)
  account-service/pom.xml
  docs/operations/background-job-replica-safety.md
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Owners: @backend-team, @team-leads, @tech-writers

fix(balance-shield): back off scenarios the monitor keeps failing on (#80)
  frontend/src/lib/outcomeMonitoring.test.ts
  frontend/src/lib/outcomeMonitoring.ts
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenario.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeScenarioRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealth.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitor.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/main/resources/db/migration/V109__outcome_monitor_backoff.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeMonitorHealthTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeRepairDraftSelectionTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScenarioMonitorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/BackgroundJobClaimIntegrationTest.java
Owners: @team-leads

Remove .kiro directory
  .kiro/settings/mcp.json
  .kiro/specs/cicd-pipeline/design.md
  .kiro/specs/cicd-pipeline/requirements.md
  .kiro/specs/cicd-pipeline/tasks.md
  .kiro/specs/comprehensive-e2e-testing/design.md
  .kiro/specs/comprehensive-e2e-testing/requirements.md
  .kiro/specs/comprehensive-e2e-testing/tasks.md
  .kiro/specs/mcp-backend-integration/requirements.md
  .kiro/specs/mcp-financial-integration/design.md
  .kiro/specs/mcp-financial-integration/requirements.md
  .kiro/specs/mcp-financial-integration/tasks.md
  .kiro/specs/transaction-service/design.md
  .kiro/specs/transaction-service/requirements.md
  .kiro/specs/transaction-service/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Owners: @team-leads

Remove .kiro directory (#81)
  .kiro/settings/mcp.json
  .kiro/specs/cicd-pipeline/design.md
  .kiro/specs/cicd-pipeline/requirements.md
  .kiro/specs/cicd-pipeline/tasks.md
  .kiro/specs/comprehensive-e2e-testing/design.md
  .kiro/specs/comprehensive-e2e-testing/requirements.md
  .kiro/specs/comprehensive-e2e-testing/tasks.md
  .kiro/specs/mcp-backend-integration/requirements.md
  .kiro/specs/mcp-financial-integration/design.md
  .kiro/specs/mcp-financial-integration/requirements.md
  .kiro/specs/mcp-financial-integration/tasks.md
  .kiro/specs/transaction-service/design.md
  .kiro/specs/transaction-service/requirements.md
  .kiro/specs/transaction-service/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Owners: @team-leads

perf: index ledger lookups, collapse notification summary queries, ease polling
  account-service/src/main/java/com/suhasan/finance/account_service/repository/NotificationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  frontend/src/lib/queryInvalidation.ts
  frontend/src/main.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerAccountRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryService.java
  transaction-service/src/main/resources/db/migration/V110__index_ledger_account_lookups.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryServiceTest.java
Owners: @backend-team, @team-leads

perf: index ledger lookups, collapse notification summary queries, ease polling (#82)
  account-service/src/main/java/com/suhasan/finance/account_service/repository/NotificationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/NotificationService.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceAdditionalTest.java
  frontend/src/lib/queryInvalidation.ts
  frontend/src/main.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerAccountRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryService.java
  transaction-service/src/main/resources/db/migration/V110__index_ledger_account_lookups.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryServiceTest.java
Owners: @backend-team, @team-leads

security: throttle login/registration, fix ingress rate limit and rewrites, add frontend headers
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/TooManyAttemptsException.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/ClientIpResolver.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AuthThrottleService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V102__create_auth_throttle_counters.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/ClientIpResolverTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AuthThrottleServicePostgresTest.java
  account-service/src/test/resources/application-integration-test.properties
  account-service/src/test/resources/application-test.properties
  docker-compose-e2e.yml
  docker-compose-full-e2e.yml
  docker-compose.codex.yml
  docker-compose.synthetic-sandbox.yml
  frontend/sandbox-nginx.conf
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/synthetic-sandbox/gateway/nginx.conf
Owners: @backend-team, @team-leads, @devops-team

fix(account-service): add serialVersionUID to TooManyAttemptsException (PMD)
  account-service/src/main/java/com/suhasan/finance/account_service/exception/TooManyAttemptsException.java
Owners: @backend-team, @team-leads

security: throttle login/registration, fix ingress rate limit and rewrites, add frontend headers (#83)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/TooManyAttemptsException.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/ClientIpResolver.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AuthThrottleService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V102__create_auth_throttle_counters.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/ClientIpResolverTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AuthThrottleServicePostgresTest.java
  account-service/src/test/resources/application-integration-test.properties
  account-service/src/test/resources/application-test.properties
  docker-compose-e2e.yml
  docker-compose-full-e2e.yml
  docker-compose.codex.yml
  docker-compose.synthetic-sandbox.yml
  frontend/sandbox-nginx.conf
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/synthetic-sandbox/gateway/nginx.conf
Owners: @backend-team, @team-leads, @devops-team

security: short-lived access tokens with rotating httpOnly refresh sessions
  account-service/spotbugs-exclude.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshCookies.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V103__create_refresh_tokens.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerSessionTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  frontend/src/components/RequireAuth.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/session.ts
  frontend/src/lib/sessionRefresh.test.ts
  frontend/src/lib/sessionRefresh.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/state/authContext.ts
  frontend/src/test/setup.ts
Owners: @backend-team, @team-leads, @devops-team

fix(auth): activity-based idle timeout, revoke on expiry, keep 1h tokens for sandbox scripts
  docker-compose.synthetic-sandbox.yml
  frontend/src/lib/sessionRefresh.test.ts
  frontend/src/lib/sessionRefresh.ts
  frontend/src/state/AuthProvider.tsx
Owners: @devops-team, @team-leads

security: short-lived access tokens with rotating httpOnly refresh sessions (#84)
  account-service/spotbugs-exclude.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshCookies.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/RefreshTokenService.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/db/migration/V103__create_refresh_tokens.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerSessionTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AuthControllerThrottleTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/security/RefreshTokenServicePostgresTest.java
  docker-compose.synthetic-sandbox.yml
  frontend/src/components/RequireAuth.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/queries.ts
  frontend/src/lib/session.ts
  frontend/src/lib/sessionRefresh.test.ts
  frontend/src/lib/sessionRefresh.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/state/authContext.ts
  frontend/src/test/setup.ts
Owners: @backend-team, @team-leads, @devops-team

frontend: stricter security headers, charts loaded only where drawn, per-route error boundaries
  .github/workflows/release-authority.yml
  frontend/Dockerfile.sandbox
  frontend/package.json
  frontend/public/provider-activation.html
  frontend/sandbox-nginx.conf
  frontend/scripts/check-initial-bundle.mjs
  frontend/security-headers.conf
  frontend/src/App.tsx
  frontend/src/components/ActivityMixChart.tsx
  frontend/src/components/RouteErrorBoundary.test.tsx
  frontend/src/components/RouteErrorBoundary.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
  frontend/vite.config.ts
  frontend/vite.sandbox.config.ts
  infrastructure/synthetic-sandbox/gateway/nginx.conf
  scripts/verify-release-authority.ps1
Owners: @devops-team, @team-leads

frontend: stricter security headers, charts loaded only where drawn, per-route error boundaries (#86)
  .github/workflows/release-authority.yml
  frontend/Dockerfile.sandbox
  frontend/package.json
  frontend/public/provider-activation.html
  frontend/sandbox-nginx.conf
  frontend/scripts/check-initial-bundle.mjs
  frontend/security-headers.conf
  frontend/src/App.tsx
  frontend/src/components/ActivityMixChart.tsx
  frontend/src/components/RouteErrorBoundary.test.tsx
  frontend/src/components/RouteErrorBoundary.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
  frontend/vite.config.ts
  frontend/vite.sandbox.config.ts
  infrastructure/synthetic-sandbox/gateway/nginx.conf
  scripts/verify-release-authority.ps1
Owners: @devops-team, @team-leads

observability: OpenTelemetry tracing in both services, transfer SLOs with burn-rate alerts
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/logback-spring.xml
  account-service/src/test/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilterTest.java
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-tracing.yml
  docs/operations/observability.md
  infrastructure/helm/account-service/templates/_helpers.tpl
  infrastructure/helm/account-service/templates/networkpolicy.yaml
  infrastructure/helm/account-service/templates/servicemonitor.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/templates/_helpers.tpl
  infrastructure/helm/transaction-service/templates/networkpolicy.yaml
  infrastructure/helm/transaction-service/templates/servicemonitor.yaml
  infrastructure/helm/transaction-service/values.yaml
  infrastructure/observability/prometheus/slo-rules.test.yml
  infrastructure/observability/prometheus/slo-rules.yml
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/TracingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/WebClientConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/CorrelationIdInterceptorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/TracePropagationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilterTest.java
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

fix(observability): satisfy PMD NullAssignment in MetricsScrapeTokenFilter
  account-service/src/main/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilter.java
Owners: @backend-team, @team-leads

observability: OpenTelemetry tracing in both services, transfer SLOs with burn-rate alerts (#85)
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/main/resources/logback-spring.xml
  account-service/src/test/java/com/suhasan/finance/account_service/security/MetricsScrapeTokenFilterTest.java
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-tracing.yml
  docs/operations/observability.md
  infrastructure/helm/account-service/templates/_helpers.tpl
  infrastructure/helm/account-service/templates/networkpolicy.yaml
  infrastructure/helm/account-service/templates/servicemonitor.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/templates/_helpers.tpl
  infrastructure/helm/transaction-service/templates/networkpolicy.yaml
  infrastructure/helm/transaction-service/templates/servicemonitor.yaml
  infrastructure/helm/transaction-service/values.yaml
  infrastructure/observability/prometheus/slo-rules.test.yml
  infrastructure/observability/prometheus/slo-rules.yml
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/TracingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/WebClientConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/CorrelationIdInterceptorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/TracePropagationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/MetricsScrapeTokenFilterTest.java
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

feat(release): one semantic version, release-please changelog, commit-pinned release images
  .github/workflows/release-authority.yml
  .release-please-manifest.json
  CHANGELOG.md
  Dockerfile.test-runner
  account-service/pom.xml
  docs/operations/releases.md
  infrastructure/helm/account-service/Chart.yaml
  infrastructure/helm/account-service/values-dev.yaml
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/Chart.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/helm/transaction-service/values.yaml
  pom.xml
  release-please-config.json
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
  transaction-service/pom.xml
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

feat(api): OpenAPI specs, RFC 9457 Problem Details everywhere, generated frontend types
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/config/OpenApiConfig.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/ErrorResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/ApiProblems.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/integration/OperatorIamEnforcementFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/test/java/com/suhasan/finance/account_service/OpenApiSpecTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  docs/api/README.md
  docs/api/account-service.openapi.json
  docs/api/transaction-service.openapi.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/account-service.ts
  frontend/src/api/generated/transaction-service.ts
  frontend/src/lib/api.ts
  frontend/src/lib/problemMessage.test.ts
  frontend/src/types.ts
  scripts/verify-release-authority.ps1
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/TransactionServiceApplication.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/MonitoringConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/OpenApiConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/SchedulingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ApiProblems.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ErrorResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/OperatorIamEnforcementFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/OpenApiSpecTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/resources/application-openapi.properties
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

fix(api): guard the catch-all error log statement (PMD GuardLogStatement)
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
Owners: @backend-team, @team-leads

feat(ops): scheduled load, soak and backup-restore drills with readiness-gate evidence
  .github/workflows/release-authority.yml
  account-service/performance-tests/README.md
  account-service/performance-tests/config.json
  account-service/performance-tests/load-test.js
  account-service/performance-tests/run-performance-tests.ps1
  account-service/performance-tests/run-performance-tests.sh
  account-service/performance-tests/spike-test.js
  account-service/performance-tests/stress-test.js
  docker-compose.synthetic-load.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/load-soak-restore-drills.md
  performance/k6/transfers.js
  scripts/backup-synthetic-sandbox.ps1
  scripts/lib/SyntheticDrillSnapshot.ps1
  scripts/package-drill-evidence.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/verify-release-authority.ps1
Owners: @devops-team, @team-leads, @tech-writers, @backend-team

ci(ops): static name for the load/soak drill job
  .github/workflows/release-authority.yml
Owners: @devops-team, @team-leads

docs(api): point the endpoint tour at the generated OpenAPI specs
  docs/api/frontend-endpoints.md
Owners: @tech-writers, @team-leads

feat(release): one semantic version, release-please changelog, commit-pinned release images (#88)
  .github/workflows/release-authority.yml
  .release-please-manifest.json
  CHANGELOG.md
  Dockerfile.test-runner
  account-service/pom.xml
  docs/operations/releases.md
  infrastructure/helm/account-service/Chart.yaml
  infrastructure/helm/account-service/values-dev.yaml
  infrastructure/helm/account-service/values-prod.yaml
  infrastructure/helm/account-service/values-staging.yaml
  infrastructure/helm/account-service/values.yaml
  infrastructure/helm/transaction-service/Chart.yaml
  infrastructure/helm/transaction-service/values-prod.yaml
  infrastructure/helm/transaction-service/values.yaml
  pom.xml
  release-please-config.json
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
  transaction-service/pom.xml
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

fix(ops): drills lift per-account transfer count limits and record evidence after a failed threshold
  .github/workflows/release-authority.yml
  docker-compose.synthetic-load.yml
  docs/operations/load-soak-restore-drills.md
  performance/k6/transfers.js
Owners: @devops-team, @team-leads, @tech-writers

feat(api): OpenAPI specs, RFC 9457 Problem Details everywhere, generated frontend types (#87)
  .github/workflows/release-authority.yml
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/config/OpenApiConfig.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AuthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/ErrorResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/ApiProblems.java
  account-service/src/main/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandler.java
  account-service/src/main/java/com/suhasan/finance/account_service/integration/OperatorIamEnforcementFilter.java
  account-service/src/main/java/com/suhasan/finance/account_service/security/SecurityConfig.java
  account-service/src/main/resources/application.properties
  account-service/src/test/java/com/suhasan/finance/account_service/OpenApiSpecTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/exception/GlobalExceptionHandlerTest.java
  docs/api/README.md
  docs/api/account-service.openapi.json
  docs/api/frontend-endpoints.md
  docs/api/transaction-service.openapi.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/generated/account-service.ts
  frontend/src/api/generated/transaction-service.ts
  frontend/src/lib/api.ts
  frontend/src/lib/problemMessage.test.ts
  frontend/src/types.ts
  scripts/verify-release-authority.ps1
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/TransactionServiceApplication.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/MonitoringConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/OpenApiConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/SchedulingConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ApiProblems.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/ErrorResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/integration/OperatorIamEnforcementFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/OpenApiSpecTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/resources/application-openapi.properties
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

fix(ops): restore drill queried the wrong database; drills keep service logs as evidence
  .github/workflows/release-authority.yml
  scripts/lib/SyntheticDrillSnapshot.ps1
Owners: @devops-team, @team-leads

feat(ops): scheduled load, soak and backup-restore drills with readiness-gate evidence (#89)
  .github/workflows/release-authority.yml
  account-service/performance-tests/README.md
  account-service/performance-tests/config.json
  account-service/performance-tests/load-test.js
  account-service/performance-tests/run-performance-tests.ps1
  account-service/performance-tests/run-performance-tests.sh
  account-service/performance-tests/spike-test.js
  account-service/performance-tests/stress-test.js
  docker-compose.synthetic-load.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/load-soak-restore-drills.md
  performance/k6/transfers.js
  scripts/backup-synthetic-sandbox.ps1
  scripts/lib/SyntheticDrillSnapshot.ps1
  scripts/package-drill-evidence.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/verify-release-authority.ps1
Owners: @devops-team, @team-leads, @tech-writers, @backend-team

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads
