Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

Validate reservation payload field capacities
  account-service/src/main/java/com/suhasan/finance/account_service/dto/SpendingLimitDtos.java
Owners: @backend-team, @team-leads

Compile throwable remote-effect test paths
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspectTest.java
Owners: @team-leads

Gate remote effects and legacy migration upgrades
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Exercise scheduled ambiguous-claim reconciliation
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
Owners: @team-leads

Extend canonical reservation migration and remote-effect gates
  .github/workflows/release-authority.yml
Owners: @devops-team, @team-leads

Track destination credit ambiguity through compensation
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspect.java
Owners: @team-leads

Test destination credit and compensation ambiguity
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspectTest.java
Owners: @team-leads

Preserve detailed reservation reconciliation outcomes
  account-service/src/main/resources/db/migration/V100__spending_limit_reservation_payload_safety.sql
Owners: @backend-team, @team-leads

Store detailed reservation reconciliation outcomes
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
Owners: @backend-team, @team-leads

Accept detailed reconciliation outcomes
  account-service/src/main/java/com/suhasan/finance/account_service/dto/SpendingLimitDtos.java
Owners: @backend-team, @team-leads

Use explicit Flyway migration target version
  account-service/src/test/java/com/suhasan/finance/account_service/migration/SpendingLimitReservationMigrationTest.java
Owners: @backend-team, @team-leads

Make reservation verification results inspectable
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Ensure failed reservation runs publish evidence
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Capture spending reservation compile diagnostics
  .github/workflows/spending-reservation-compile-diagnostics.yml
Owners: @devops-team, @team-leads

Verify and apply notification import correction
  .github/workflows/spending-reservation-compile-diagnostics.yml
Owners: @devops-team, @team-leads

Remove temporary compile diagnostic workflow
  .github/workflows/spending-reservation-compile-diagnostics.yml
Owners: @devops-team, @team-leads

Diagnose remaining reservation test failures
  .github/workflows/spending-reservation-test-diagnostics.yml
Owners: @devops-team, @team-leads

Capture transaction reservation test compile failure
  .github/workflows/spending-reservation-transaction-compile-diagnostics.yml
Owners: @devops-team, @team-leads

Fix monetary comparison in reservation concurrency test
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitReservationConcurrencyTest.java
Owners: @backend-team, @team-leads

Align legacy spending-limit tests with locked lifecycle semantics
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
Owners: @backend-team, @team-leads

Persist complete Maven diagnostics for release-blocker gates
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Complete spending-limit test fixtures for reservation persistence
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
Owners: @backend-team, @team-leads

Fix transaction reservation test compilation
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspectTest.java
Owners: @team-leads

Remove temporary reservation test diagnostics
  .github/workflows/spending-reservation-test-diagnostics.yml
Owners: @devops-team, @team-leads

Remove temporary transaction compile diagnostics
  .github/workflows/spending-reservation-transaction-compile-diagnostics.yml
Owners: @devops-team, @team-leads

Remove temporary reservation compile evidence
  docs/release-evidence/spending-reservation-compile-diagnostics.md
Owners: @tech-writers, @team-leads

Provide payload-faithful reservation client for integration tests
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
Owners: @team-leads

Align remaining-limit assertion with reservation response contract
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
Owners: @backend-team, @team-leads

Avoid production bean-name collision in integration tests
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
Owners: @team-leads

Make integration reservation client proxyable
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
Owners: @team-leads

Cover reservation persistence lifecycle defaults and safe scope derivation
  account-service/src/test/java/com/suhasan/finance/account_service/entity/SpendingLimitReservationTest.java
Owners: @backend-team, @team-leads

Cover spending reservation lifecycle edge cases
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceLifecycleEdgeTest.java
Owners: @backend-team, @team-leads

Run Java 21 and 22 verification for latest reservation fixes
  .github/workflows/spending-reservation-fast-verify.yml
Owners: @devops-team, @team-leads

Run targeted reservation lifecycle smoke verification
  .github/workflows/spending-reservation-smoke-verify.yml
Owners: @devops-team, @team-leads

Apply exact spending reservation PMD corrections
  .github/workflows/apply-spending-reservation-pmd-fix.yml
Owners: @devops-team, @team-leads

Relax PMD patch whitespace matching
  .github/workflows/apply-spending-reservation-pmd-fix.yml
Owners: @devops-team, @team-leads

Run final account Java 21 and 22 verification
  .github/workflows/spending-reservation-account-final-verify.yml
Owners: @devops-team, @team-leads

Allow asynchronous balance projection to settle in Docker E2E
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Owners: @team-leads

Assert reservation safety against authoritative transaction history
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Owners: @team-leads

Rerun frontend verification against authoritative history assertion
  .github/workflows/spending-reservation-frontend-final-verify.yml
Owners: @devops-team, @team-leads

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads
