Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

Remove temporary transaction CI diagnostics
  .github/workflows/ci-repair-diagnostics.yml
Owners: @devops-team, @team-leads

Add temporary transaction CI diagnostics
  .github/workflows/transaction-ci-diagnostics.yml
Owners: @devops-team, @team-leads

Add temporary reversal replay repair workflow
  .github/workflows/apply-reversal-replay-fix.yml
Owners: @devops-team, @team-leads

Run reversal replay repair from PR workflow
  .github/workflows/transaction-ci-diagnostics.yml
Owners: @devops-team, @team-leads

Disable hidden HTTP retries in transaction integration tests
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
Owners: @team-leads

Remove temporary reversal replay workflow
  .github/workflows/apply-reversal-replay-fix.yml
Owners: @devops-team, @team-leads

Remove temporary transaction diagnostics workflow
  .github/workflows/transaction-ci-diagnostics.yml
Owners: @devops-team, @team-leads

Add spending reservation lifecycle migration
  account-service/src/main/resources/db/migration/V100__spending_limit_reservation_payload_safety.sql
Owners: @backend-team, @team-leads

Add spending reservation lifecycle states
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservationState.java
Owners: @backend-team, @team-leads

Persist canonical spending reservation lifecycle
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
Owners: @backend-team, @team-leads

Add payload-safe reservation queries
  account-service/src/main/java/com/suhasan/finance/account_service/repository/SpendingLimitReservationRepository.java
Owners: @backend-team, @team-leads

Expose canonical reservation identity and lifecycle
  account-service/src/main/java/com/suhasan/finance/account_service/dto/SpendingLimitDtos.java
Owners: @backend-team, @team-leads

Enforce payload-safe reservation lifecycle
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
Owners: @backend-team, @team-leads

Expose reservation lifecycle API
  account-service/src/main/java/com/suhasan/finance/account_service/controller/InternalAccountController.java
Owners: @backend-team, @team-leads

Cover payload-safe spending reservations
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceTest.java
Owners: @backend-team, @team-leads

Add durable spending reservation saga claims
  transaction-service/src/main/resources/db/migration/V100__spending_reservation_saga_claims.sql
Owners: @team-leads

Add transaction claim states
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaimState.java
Owners: @team-leads

Persist durable transaction idempotency claims
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaim.java
Owners: @team-leads

Add durable claim repository
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionIdempotencyClaimRepository.java
Owners: @team-leads

Claim transaction idempotency before remote reservation
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimService.java
Owners: @team-leads

Add payload-aware reservation lifecycle client
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationLifecycleClient.java
Owners: @team-leads

Route spending reservations through payload-aware client
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspect.java
Owners: @team-leads

Reconcile reservation lifecycle with transaction outcomes
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
Owners: @team-leads

Claim idempotency before spending reservation calls
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspect.java
Owners: @team-leads

Use native lifecycle-safe usage aggregation
  account-service/src/main/java/com/suhasan/finance/account_service/repository/SpendingLimitReservationRepository.java
Owners: @backend-team, @team-leads

Test durable claim ordering around transactions
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspectTest.java
Owners: @team-leads

Test transaction claim payload safety and concurrency
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimServiceTest.java
Owners: @team-leads

Test reservation reconciliation outcomes and orphans
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
Owners: @team-leads

Test concurrent mismatched reservation payloads
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitReservationConcurrencyTest.java
Owners: @backend-team, @team-leads

Add account transaction reservation contract integration test
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/SpendingLimitReservationCrossServiceIntegrationTest.java
Owners: @team-leads

Add pre-PR spending reservation verification workflow
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Preserve reservations for ambiguous transaction outcomes
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspect.java
Owners: @team-leads

Test ambiguous outcome release suppression
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspectTest.java
Owners: @team-leads

Make reservation idempotency scope concurrency safe
  account-service/src/main/resources/db/migration/V100__spending_limit_reservation_payload_safety.sql
Owners: @backend-team, @team-leads

Persist canonical reservation scope key
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
Owners: @backend-team, @team-leads

Derive canonical reservation scope automatically
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
Owners: @backend-team, @team-leads

Exercise payload-safe reservations across real services
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
Owners: @team-leads

Add real cross-service reservation evidence to pre-PR gate
  .github/workflows/spending-reservation-release-blocker.yml
Owners: @devops-team, @team-leads

Extend canonical concurrency gate for spending reservations
  .github/workflows/release-authority.yml
Owners: @devops-team, @team-leads

Keep ambiguous legacy reservation scopes nullable
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
Owners: @backend-team, @team-leads

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads
