Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads

fix: evaluate risk in transaction context
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/RiskEvaluationService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/RiskEvaluationServiceTest.java
Owners: @team-leads

fix: use one processing timer schema
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/MetricsServiceTest.java
Owners: @team-leads

test: align e2e with separated consoles
  frontend/playwright.config.ts
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/e2e/customer.spec.ts
Owners: @team-leads

[codex] repair cross-console reliability (#21)
  docker-compose.codex.yml
  docs/superpowers/plans/2026-06-22-cross-console-reliability.md
  docs/superpowers/specs/2026-06-22-cross-console-reliability-design.md
  frontend/playwright.config.ts
  frontend/tests/e2e/admin.spec.ts
  frontend/tests/e2e/customer.spec.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/AccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/ResilienceConfig.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/RiskEvaluationService.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/config/ApplicationRuntimeDefaultsTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/MetricsServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/RiskEvaluationServiceTest.java
Owners: @devops-team, @team-leads, @tech-writers, @backend-team

docs: design README operational refresh
  docs/superpowers/specs/2026-06-23-readme-operational-refresh-design.md
Owners: @tech-writers, @team-leads

docs: plan README operational refresh
  docs/superpowers/plans/2026-06-23-readme-operational-refresh.md
Owners: @tech-writers, @team-leads

docs: refresh local workflow guidance
  README.md
Owners: @tech-writers, @team-leads

[codex] refresh README operational guidance (#22)
  README.md
  docs/superpowers/plans/2026-06-23-readme-operational-refresh.md
  docs/superpowers/specs/2026-06-23-readme-operational-refresh-design.md
Owners: @tech-writers, @team-leads

docs: design cross-agent handoff protocol
  docs/superpowers/specs/2026-06-23-cross-agent-handoff-design.md
Owners: @tech-writers, @team-leads

docs: plan cross-agent handoff implementation
  docs/superpowers/plans/2026-06-23-cross-agent-handoff.md
Owners: @tech-writers, @team-leads

docs: define cross-agent handoff protocol
  .agent/PROTOCOL.md
  .agent/active-handoff.json
  .agent/lease.json
  .agent/schemas/active-handoff.schema.json
  .agent/schemas/lease.schema.json
  AGENTS.md
  GEMINI.md
Owners: @team-leads

feat: add portable agent checkpoints
  scripts/agent-checkpoint.ps1
  scripts/test-agent-handoff.ps1
Owners: @team-leads

feat: add safe cross-agent resume leases
  scripts/agent-resume.ps1
  scripts/test-agent-handoff.ps1
Owners: @team-leads

docs: explain Codex Antigravity handoffs
  .agent/PROTOCOL.md
  README.md
Owners: @team-leads, @tech-writers

[codex] add Codex Antigravity handoff workflow (#23)
  .agent/PROTOCOL.md
  .agent/active-handoff.json
  .agent/lease.json
  .agent/schemas/active-handoff.schema.json
  .agent/schemas/lease.schema.json
  AGENTS.md
  GEMINI.md
  README.md
  docs/superpowers/plans/2026-06-23-cross-agent-handoff.md
  docs/superpowers/specs/2026-06-23-cross-agent-handoff-design.md
  scripts/agent-checkpoint.ps1
  scripts/agent-resume.ps1
  scripts/test-agent-handoff.ps1
Owners: @team-leads, @tech-writers

chore: checkpoint ledger baseline
  .agent/active-handoff.json
  .agent/lease.json
Owners: @team-leads

docs: specify immutable double-entry ledger
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/specs/2026-06-24-double-entry-ledger-design.md
Owners: @team-leads, @tech-writers

docs: plan double-entry ledger implementation
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
Owners: @team-leads, @tech-writers

feat(account): add ledger projection mirror contract
  .agent/active-handoff.json
  .agent/lease.json
  account-service/src/main/java/com/suhasan/finance/account_service/controller/InternalAccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/AccountRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/AccountResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/LedgerProjectionUpdateRequest.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/Account.java
  account-service/src/main/java/com/suhasan/finance/account_service/mapper/AccountMapper.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/AccountService.java
  account-service/src/main/resources/db/migration/V6__add_currency_and_ledger_projection_mirror.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/InternalLedgerProjectionControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/migration/LedgerProjectionMirrorMigrationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/AccountServiceTest.java
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
Owners: @team-leads, @backend-team, @tech-writers

feat(ledger): enforce immutable balanced journal schema
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  transaction-service/src/main/resources/db/migration/V12__create_ledger_core.sql
  transaction-service/src/main/resources/db/migration/V13__create_ledger_projections_and_outbox.sql
  transaction-service/src/main/resources/db/migration/V14__fix_transaction_processing_states.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
Owners: @team-leads, @tech-writers

feat(ledger): add journal domain and balance projections
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalDraft.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalPosting.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalStateEvent.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalTransaction.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalType.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerAccount.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerAccountKind.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerAccountStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerBalanceProjection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/PostingDirection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/PostingDraft.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalStateEventRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalTransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerAccountRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerBalanceProjectionRepository.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/domain/JournalDraftTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerBalanceProjectionTest.java
Owners: @team-leads, @tech-writers

feat(ledger): add idempotent posting and compensating reversal
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalPosting.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/JournalTransaction.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerAccount.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerBalanceProjection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalStateEventRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalTransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/JournalCommand.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/JournalRequestFingerprint.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/JournalResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerIdempotencyLock.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerBalanceProjectionTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingConcurrencyIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
Owners: @team-leads, @tech-writers

feat(transactions): route money movement through ledger
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransactionResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/Transaction.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/AccountLedgerResolver.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/resources/application.properties
  transaction-service/src/main/resources/db/migration/V15__add_transaction_journal_link.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/TransactionLedgerIntegrationTest.java
  transaction-service/src/test/resources/application-test.properties
  transaction-service/src/test/resources/application.properties
Owners: @team-leads, @tech-writers, @backend-team, @devops-team

feat(ledger): deliver versioned account balance mirrors
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/LedgerProjectionOutbox.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerProjectionOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxService.java
  transaction-service/src/main/resources/db/migration/V16__relax_projection_outbox_source_event_uniqueness.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxServiceTest.java
Owners: @team-leads, @tech-writers

chore: checkpoint task six handoff
  .agent/active-handoff.json
  .agent/lease.json
Owners: @team-leads

feat(ui): show authoritative ledger balances
  .agent/active-handoff.json
  .agent/lease.json
  frontend/src/lib/accountBalances.ts
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerAccountRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerJournalPostingResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerJournalResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerLedgerController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerLedgerQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/LedgerAccountNotFoundException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/LedgerAccountSummaryResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/LedgerBalanceBatchRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/CustomerLedgerControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultCustomerLedgerQueryServiceTest.java
Owners: @team-leads

feat(reconciliation): add daily controls and exception queue
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/lib/queries.ts
  frontend/src/pages/AdminReconciliationPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationCheckCode.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationExceptionNote.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationExceptionStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationRun.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationRunStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationSeverity.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/ReconciliationType.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalTransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/ReconciliationAlreadyRunningException.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/ReconciliationRunResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationExceptionAssignmentRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationExceptionNoteRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationExceptionNoteResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationExceptionResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationExceptionStatusRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationRunRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/ReconciliationRunResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/db/migration/V17__create_reconciliation.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/AdminReconciliationControllerTest.java
Owners: @team-leads, @tech-writers

feat(statements): add immutable monthly customer statements
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  frontend/src/App.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/lib/queries.ts
  frontend/src/pages/StatementsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/CustomerMonthlyStatement.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/CustomerMonthlyStatementLine.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementLineRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalTransactionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/CustomerMonthlyStatementLineResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/CustomerMonthlyStatementResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementGenerateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementLineResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementResponse.java
  transaction-service/src/main/resources/db/migration/V18__create_monthly_statements.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/CustomerStatementControllerTest.java
Owners: @team-leads, @tech-writers

feat(ledger): add controlled bootstrap and operations telemetry
  .agent/active-handoff.json
  .agent/lease.json
  docs/operations/ledger-cutover-runbook.md
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapAccountSnapshot.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapAccountSource.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapCommand.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerOperationsMetrics.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/NoopLedgerBootstrapAccountSource.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/AdminLedgerBootstrapController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/LedgerBootstrapRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerOperationsMetricsTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerOperationsRunbookTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/AdminLedgerBootstrapControllerTest.java
Owners: @team-leads, @tech-writers, @devops-team

test(ledger): verify isolated ledger live flow
  .agent/active-handoff.json
  .agent/lease.json
  account-service/src/main/resources/db/migration/V6__add_currency_and_ledger_projection_mirror.sql
  account-service/src/test/java/com/suhasan/finance/account_service/migration/LedgerProjectionMirrorMigrationTest.java
  docker-compose.task11.override.yml
  docs/operations/ledger-task11-verification.md
  frontend/vite.config.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/AccountDto.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/AccountLedgerResolver.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/AccountLedgerResolverTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerBootstrapServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/TransactionLedgerIntegrationTest.java
Owners: @team-leads, @backend-team, @devops-team, @tech-writers

chore: prepare ledger pr publication
  .agent/active-handoff.json
  .agent/lease.json
  docs/superpowers/specs/2026-06-24-double-entry-ledger-design.md
Owners: @team-leads, @tech-writers

test(ledger): skip docker integration tests when unavailable
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingConcurrencyIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/performance/CachePerformanceBenchmark.java
Owners: @team-leads

docs: add scheduled transfers design
  docs/superpowers/specs/2026-06-30-scheduled-recurring-transfers-design.md
Owners: @tech-writers, @team-leads

docs: add scheduled transfers implementation plan
  docs/superpowers/plans/2026-06-30-scheduled-recurring-transfers.md
Owners: @tech-writers, @team-leads

feat(notifications): support scheduled transfer events
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationSourceType.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/NotificationType.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/NotificationServiceTest.java
Owners: @backend-team, @team-leads

feat(transactions): add scheduled transfer persistence
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransfer.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferFrequency.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferRun.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferRunStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/ScheduledTransferType.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/ScheduledTransferRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/main/resources/db/migration/V19__create_scheduled_transfers.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferRecurrenceTest.java
Owners: @team-leads

fix(transactions): harden scheduled transfer constraints
  transaction-service/src/main/resources/db/migration/V19__create_scheduled_transfers.sql
Owners: @team-leads

fix(transactions): enforce scheduled transfer currency shape
  transaction-service/src/main/resources/db/migration/V19__create_scheduled_transfers.sql
Owners: @team-leads

feat(transactions): execute scheduled transfers
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/ScheduledTransferCreateRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/ScheduledTransferResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/ScheduledTransferRunResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferScheduler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @team-leads

fix(transactions): isolate scheduled transfer execution transactions
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @team-leads
