Repository suhas-svg/financial-backend-services, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @devops-team, @backend-team, @security-team, @tech-writers, @dba-team

Isolate legacy integration tests from reservation lifecycle HTTP stubs
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
Owners: @team-leads

Mirror reservation lifecycle test isolation
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
Owners: @team-leads

Make reservation completion crash-recoverable
  .github/workflows/spending-reservation-release-blocker.yml
  docs/release-evidence/spending-reservation-latest-run.md
  docs/release-evidence/spending-reservation-pre-pr.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaimState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimService.java
  transaction-service/src/main/resources/db/migration/V100__spending_reservation_saga_claims.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimServiceTest.java
Owners: @devops-team, @team-leads, @tech-writers

Make spending-limit reservations payload-safe (#48)
  .github/workflows/release-authority.yml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/InternalAccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/SpendingLimitDtos.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservation.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/SpendingLimitReservationState.java
  account-service/src/main/java/com/suhasan/finance/account_service/repository/SpendingLimitReservationRepository.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
  account-service/src/main/resources/db/migration/V100__spending_limit_reservation_payload_safety.sql
  account-service/src/test/java/com/suhasan/finance/account_service/entity/SpendingLimitReservationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/migration/SpendingLimitReservationMigrationTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitReservationConcurrencyTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceLifecycleEdgeTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceTest.java
  frontend/tests/sandbox-e2e/controlled-beta-phase2.spec.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransferRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/WithdrawalRequest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaim.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionIdempotencyClaimState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionIdempotencyClaimRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationLifecycleClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaContext.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/WithdrawalRequestIdempotencyClaimAspect.java
  transaction-service/src/main/resources/db/migration/V100__spending_reservation_saga_claims.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/BaseIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/IntegrationTestConfiguration.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/SpendingLimitReservationCrossServiceIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitRemoteEffectAspectTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationClientAspectTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaAspectTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/SpendingLimitReservationSagaCoordinatorTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionIdempotencyClaimServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/WithdrawalRequestIdempotencyClaimAspectTest.java
Owners: @devops-team, @team-leads, @backend-team

Bound reporting queries and page contracts
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/BeneficiaryController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/PageResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AccountControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/AuditController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/InvestigationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskAlertController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskCaseController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/PageResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/StatementMovementProjection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/resources/db/migration/V102__bound_statement_movement_queries.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/InvestigationServiceTest.java
Owners: @backend-team, @team-leads

Bound reporting queries and stabilize page contracts (#58)
  account-service/src/main/java/com/suhasan/finance/account_service/controller/AccountController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/BeneficiaryController.java
  account-service/src/main/java/com/suhasan/finance/account_service/controller/NotificationController.java
  account-service/src/main/java/com/suhasan/finance/account_service/dto/PageResponse.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/SpendingLimitService.java
  account-service/src/test/java/com/suhasan/finance/account_service/controller/AccountControllerTest.java
  account-service/src/test/java/com/suhasan/finance/account_service/service/SpendingLimitServiceAdditionalTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/AuditController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/InvestigationController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskAlertController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/RiskCaseController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/PageResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationExceptionRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/StatementMovementProjection.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeNoteRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/resources/db/migration/V102__bound_statement_movement_queries.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/web/DefaultAdminReconciliationQueryServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/security/SecurityConfigTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/InvestigationServiceTest.java
Owners: @backend-team, @team-leads

Add durable financial evidence outbox
  docs/operations/ledger-cutover-runbook.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDelivery.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDeliveryRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDestination.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutbox.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/resources/db/migration/V103__create_financial_evidence_outbox.sql
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
Owners: @tech-writers, @team-leads, @devops-team

Add durable financial evidence outbox (#59)
  docs/operations/ledger-cutover-runbook.md
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDelivery.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDeliveryRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceDestination.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutbox.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceStatus.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/resources/db/migration/V103__create_financial_evidence_outbox.sql
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/evidence/FinancialEvidenceOutboxServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerMigrationIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
Owners: @tech-writers, @team-leads, @devops-team

Pin release inputs and govern flaky retries
  .github/workflows/release-authority.yml
  Dockerfile.test-runner
  account-service/Dockerfile
  docker-compose.synthetic-sandbox.yml
  docs/operations/supply-chain-and-test-governance.md
  frontend/Dockerfile.sandbox
  scripts/check-surefire-retries.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

Finish supply-chain and flaky-test governance (#60)
  .github/workflows/release-authority.yml
  Dockerfile.test-runner
  account-service/Dockerfile
  docker-compose.synthetic-sandbox.yml
  docs/operations/supply-chain-and-test-governance.md
  frontend/Dockerfile.sandbox
  scripts/check-surefire-retries.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-release-authority.ps1
  transaction-service/Dockerfile
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

Enforce real-money readiness evidence
  .github/workflows/release-authority.yml
  account-service/src/test/java/com/suhasan/finance/account_service/migration/FreshPostgresIntegrationReadinessMigrationTest.java
  docs/deployment-authority.md
  docs/operations/production-integration-readiness-runbook.md
  docs/operations/production-provider-activation-runbook.md
  docs/operations/production-readiness-evidence.schema.json
  docs/operations/real-money-production-readiness-gate.md
  docs/operations/supply-chain-and-test-governance.md
  scripts/check-surefire-retries.ps1
  scripts/test-production-readiness-evidence.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-production-readiness-evidence.ps1
  scripts/verify-release-authority.ps1
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

Enforce real-money production-readiness evidence (#61)
  .github/workflows/release-authority.yml
  account-service/src/test/java/com/suhasan/finance/account_service/migration/FreshPostgresIntegrationReadinessMigrationTest.java
  docs/deployment-authority.md
  docs/operations/production-integration-readiness-runbook.md
  docs/operations/production-provider-activation-runbook.md
  docs/operations/production-readiness-evidence.schema.json
  docs/operations/real-money-production-readiness-gate.md
  docs/operations/supply-chain-and-test-governance.md
  scripts/check-surefire-retries.ps1
  scripts/test-production-readiness-evidence.ps1
  scripts/test-surefire-retry-governance.ps1
  scripts/verify-production-readiness-evidence.ps1
  scripts/verify-release-authority.ps1
Owners: @devops-team, @team-leads, @backend-team, @tech-writers

Complete controlled synthetic-beta Phase 4
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-sandbox.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/synthetic-beta-tester-operations.md
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/session.test.ts
  frontend/src/lib/session.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/styles.css
  frontend/tests/accessibility/authenticated-flows.spec.ts
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  scripts/alert-certification-receiver.py
  scripts/backup-synthetic-sandbox.ps1
  scripts/invoke-synthetic-soak-check.ps1
  scripts/manage-synthetic-soak-task.ps1
  scripts/render-alertmanager-provider-config.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/run-synthetic-failure-drills.ps1
  scripts/run-synthetic-soak.ps1
  scripts/test-alerting-config.ps1
  transaction-service/monitoring/alertmanager/alertmanager.yml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerProjectionOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/OperationalBacklogMetrics.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/db/migration/V104__create_financial_operation_runs.sql
  transaction-service/src/main/resources/phase4_operational_alerts.yml
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinatorTest.java
Owners: @devops-team, @team-leads, @tech-writers

Upgrade Spring Boot to 3.5.16
  account-service/pom.xml
  transaction-service/pom.xml
Owners: @backend-team, @team-leads

Complete controlled synthetic-beta Phase 4 (#62)
  account-service/pom.xml
  docker-compose.synthetic-alerting.yml
  docker-compose.synthetic-sandbox.yml
  docs/operations/controlled-beta-phase4-operations.md
  docs/operations/synthetic-beta-tester-operations.md
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/components/RouteAccessibility.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/session.test.ts
  frontend/src/lib/session.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/state/AuthProvider.tsx
  frontend/src/styles.css
  frontend/tests/accessibility/authenticated-flows.spec.ts
  infrastructure/synthetic-sandbox/monitoring/prometheus.yml
  scripts/alert-certification-receiver.py
  scripts/backup-synthetic-sandbox.ps1
  scripts/invoke-synthetic-soak-check.ps1
  scripts/manage-synthetic-soak-task.ps1
  scripts/render-alertmanager-provider-config.ps1
  scripts/restore-verify-synthetic-sandbox.ps1
  scripts/run-synthetic-failure-drills.ps1
  scripts/run-synthetic-soak.ps1
  scripts/test-alerting-config.ps1
  transaction-service/monitoring/alertmanager/alertmanager.yml
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/LedgerProjectionOutboxRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerProjectionOutboxDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationResult.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinator.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/operations/OperationalBacklogMetrics.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/security/SecurityConfig.java
  transaction-service/src/main/resources/db/migration/V104__create_financial_operation_runs.sql
  transaction-service/src/main/resources/phase4_operational_alerts.yml
  transaction-service/src/main/resources/transaction_service_alerts.yml
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/operations/FinancialOperationsCoordinatorTest.java
Owners: @backend-team, @team-leads, @devops-team, @tech-writers

Fix synthetic money statement and refresh races
  docs/operations/controlled-beta-phase4-operations.md
  docs/superpowers/specs/2026-06-24-double-entry-ledger-design.md
  frontend/src/components/ConsentGovernanceReadinessPanel.tsx
  frontend/src/lib/queryInvalidation.test.ts
  frontend/src/lib/queryInvalidation.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/CustomerMonthlyStatement.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecaster.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecasterTest.java
Owners: @tech-writers, @team-leads

Fix synthetic-money statement and refresh races (#63)
  docs/operations/controlled-beta-phase4-operations.md
  docs/superpowers/specs/2026-06-24-double-entry-ledger-design.md
  frontend/src/components/ConsentGovernanceReadinessPanel.tsx
  frontend/src/lib/queryInvalidation.test.ts
  frontend/src/lib/queryInvalidation.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/OutcomeProtectionPage.tsx
  frontend/src/pages/StatementsPage.tsx
  frontend/src/test/app.component.test.tsx
  frontend/src/types.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/domain/CustomerMonthlyStatement.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/CustomerMonthlyStatementRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecaster.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/web/OutcomeProtectionDtos.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeScheduledTransferForecasterTest.java
Owners: @tech-writers, @team-leads

fix: close synthetic audit blockers
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminMonitoringPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/types.ts
  frontend/vite.config.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/MonitoringAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransactionDisputeResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionDispute.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionProcessingState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AlertingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AuditService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionDisputeService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationStateService.java
  transaction-service/src/main/resources/db/migration/V105__dispute_reimbursement_provenance.sql
  transaction-service/src/main/resources/db/migration/V106__allow_failed_transaction_processing_state.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/TransactionControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionLimitsIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionDisputeServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationServiceTest.java
Owners: @team-leads

ci: use cached dependency data without an NVD key
  .github/workflows/release-authority.yml
Owners: @devops-team, @team-leads

fix: close synthetic audit blockers (#64)
  .github/workflows/release-authority.yml
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/AdminDisputesPage.tsx
  frontend/src/pages/AdminMonitoringPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/types.ts
  frontend/vite.config.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/MonitoringAspect.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/controller/TransactionDisputeController.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/dto/TransactionDisputeResponse.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionDispute.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/entity/TransactionProcessingState.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/JournalPostingRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/repository/TransactionDisputeRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AlertingService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/AuditService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/InvestigationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/MetricsService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionDisputeService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationStateService.java
  transaction-service/src/main/resources/db/migration/V105__dispute_reimbursement_provenance.sql
  transaction-service/src/main/resources/db/migration/V106__allow_failed_transaction_processing_state.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/controller/TransactionControllerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/integration/TransactionLimitsIntegrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerPostingServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/MonthlyStatementServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionDisputeServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationServiceTest.java
Owners: @devops-team, @team-leads

Fix admin account ledger balances
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/test/app.component.test.tsx
Owners: @team-leads

Fix admin account ledger balances (#65)
  frontend/src/pages/AdminAccountsPage.tsx
  frontend/src/test/app.component.test.tsx
Owners: @team-leads

Enforce Outcome Protection source freshness
  README.md
  docs/operations/balance-shield-guardrail-runbook.md
  docs/superpowers/specs/2026-08-12-outcome-protection-source-freshness.md
  frontend/src/components/OutcomeGuardrailCard.test.ts
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/outcomeFreshness.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenarioVersion.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeAuthoritativeSourceService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeFreshnessRejectionRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/ScenarioDivergedException.java
  transaction-service/src/main/resources/db/migration/V107__outcome_source_freshness_invariant.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/FreshPostgresOutcomeSourceFreshnessMigrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessServiceTest.java
Owners: @tech-writers, @team-leads

Enforce Outcome Protection source freshness (#66)
  README.md
  docs/operations/balance-shield-guardrail-runbook.md
  docs/superpowers/specs/2026-08-12-outcome-protection-source-freshness.md
  frontend/src/components/OutcomeGuardrailCard.test.ts
  frontend/src/components/OutcomeGuardrailCard.tsx
  frontend/src/lib/outcomeFreshness.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandler.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/domain/OutcomeScenarioVersion.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeAuthoritativeSourceService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeFreshnessRejectionRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessService.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/outcome/service/ScenarioDivergedException.java
  transaction-service/src/main/resources/db/migration/V107__outcome_source_freshness_invariant.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/exception/GlobalExceptionHandlerTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/FreshPostgresOutcomeSourceFreshnessMigrationTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/repository/OutcomeProtectionMigrationSmokeTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeGuardrailServiceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeProtectionDivergenceTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/outcome/service/OutcomeSourceFreshnessServiceTest.java
Owners: @tech-writers, @team-leads

Stabilize customer money workflows
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/AuditAccessExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/CustomerNotificationExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorderTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilterTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @tech-writers, @team-leads

Stabilize customer money workflows (#67)
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/api.test.ts
  frontend/src/lib/queries.ts
  frontend/src/pages/AccountsPage.tsx
  frontend/src/pages/BeneficiariesPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/MoveMoneyPage.tsx
  frontend/src/pages/ScheduledTransfersPage.tsx
  frontend/src/test/app.component.test.tsx
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorder.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilter.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/AuditAccessExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/config/CustomerNotificationExecutorConfiguration.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcher.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/ScheduledTransferService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/ApiAccessAuditRecorderTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/aspect/AuditEvidenceFilterTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/CustomerNotificationDispatcherTest.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/ScheduledTransferServiceTest.java
Owners: @tech-writers, @team-leads

Improve navigation performance and security setup UI
  .gitignore
  frontend/.dockerignore
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/routePages.ts
  frontend/src/test/app.component.test.tsx
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/performance/TransactionPerformanceTest.java
Owners: @team-leads

Improve navigation performance and security setup UI (#68)
  .gitignore
  frontend/.dockerignore
  frontend/src/App.tsx
  frontend/src/components/AdminLayout.tsx
  frontend/src/components/CustomerLayout.tsx
  frontend/src/pages/SecurityPage.tsx
  frontend/src/routePages.ts
  frontend/src/test/app.component.test.tsx
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/performance/TransactionPerformanceTest.java
Owners: @team-leads

Remove remaining agent handoff references from docs
  AGENTS.md
  docs/operations/ledger-task11-verification.md
  docs/superpowers/plans/2026-06-22-cross-console-reliability.md
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
Owners: @team-leads, @tech-writers

Make backend dependency scan cache-only without NVD downloads
  .github/workflows/release-authority.yml
Owners: @devops-team, @team-leads

Wait for the admin portal form remount before filling sign-in fields
  frontend/tests/accessibility/authenticated-flows.spec.ts
Owners: @team-leads

Remove remaining agent handoff references from docs (#69)
  .github/workflows/release-authority.yml
  AGENTS.md
  docs/operations/ledger-task11-verification.md
  docs/superpowers/plans/2026-06-22-cross-console-reliability.md
  docs/superpowers/plans/2026-06-24-double-entry-ledger-implementation.md
  frontend/tests/accessibility/authenticated-flows.spec.ts
Owners: @devops-team, @team-leads, @tech-writers

fix: live E2E findings — error mapping, self-transfer, 404 handling, scheduled execution
  frontend/src/lib/schemas.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
Owners: @team-leads

test: update getTransaction_NotFound to expect TransactionNotFoundException (404)
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Owners: @team-leads

fix: preserve 503 for account-service unavailable in scheduled fallback
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
Owners: @team-leads

fix: live E2E findings — error mapping, self-transfer, 404 handling, scheduled execution (#71)
  frontend/src/lib/schemas.ts
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/client/ResilientAccountServiceClient.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransactionServiceImpl.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/service/TransferAuthorizationService.java
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/service/TransactionServiceImplTest.java
Owners: @team-leads

fix: close reconciliation lock, account oracle, TOTP lockout and health leaks
  .gitignore
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/HealthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/MfaMethod.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/BeneficiaryService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/StepUpChallengeService.java
  account-service/src/main/resources/db/migration/V101__mfa_totp_verification_lockout.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/HealthControllerTest.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationService.java
  transaction-service/src/main/resources/db/migration/V108__reconciliation_run_in_progress_unique.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationServiceTest.java
Owners: @team-leads, @backend-team

fix: resolve PMD violation and CVE findings blocking required acceptance
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/entity/MfaMethod.java
  transaction-service/pom.xml
Owners: @backend-team, @team-leads

fix: bump netty to 4.1.137.Final for CVE-2026-75595
  transaction-service/pom.xml
Owners: @team-leads

fix: close reconciliation lock, account oracle, TOTP lockout and health leaks (#75)
  .gitignore
  account-service/pom.xml
  account-service/src/main/java/com/suhasan/finance/account_service/controller/HealthController.java
  account-service/src/main/java/com/suhasan/finance/account_service/entity/MfaMethod.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/BeneficiaryService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/MfaService.java
  account-service/src/main/java/com/suhasan/finance/account_service/service/StepUpChallengeService.java
  account-service/src/main/resources/db/migration/V101__mfa_totp_verification_lockout.sql
  account-service/src/test/java/com/suhasan/finance/account_service/controller/HealthControllerTest.java
  transaction-service/pom.xml
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/repository/ReconciliationRunRepository.java
  transaction-service/src/main/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationService.java
  transaction-service/src/main/resources/db/migration/V108__reconciliation_run_in_progress_unique.sql
  transaction-service/src/test/java/com/suhasan/finance/transaction_service/ledger/service/LedgerReconciliationServiceTest.java
Owners: @team-leads, @backend-team

.github/CODEOWNERS:

# Global code owners
* @team-leads

# CI/CD pipeline configuration
/.github/ @devops-team @team-leads

# Account service code
/account-service/ @backend-team @team-leads

# Infrastructure and deployment
/infrastructure/ @devops-team @team-leads
/k8s/ @devops-team @team-leads

# Security-related files
/security/ @security-team @team-leads
*.security.* @security-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @tech-writers @team-leads

# Configuration files
*.yml @devops-team @team-leads
*.yaml @devops-team @team-leads
*.properties @backend-team @devops-team

# Database migrations
**/migrations/ @backend-team @dba-team @team-leads
